<h1>Cadastro de Fornecedores</h1>

<fieldset style="width:25%">
  <legend>Editar dados</legend>
<%= render 'form' %>
</fieldset>
<%= link_to 'Exibir', @vendor %> |
<%= link_to 'Voltar', vendors_path %>
