<h1>Ordem de Compra</h1>

<fieldset style="width:25%">
  <legend>Editar dados</legend>
<%= render 'form' %>
</fieldset>
<%= link_to 'Exibir', @order_header %> |
<%= link_to 'Voltar', order_headers_path %>
