<h1>Linhas da Ordem de Compra</h1>

<fieldset style="width:25%">
  <legend>Editar dados</legend>
<%= render 'form' %>
</fieldset>

<%= link_to 'Exibir', @order_line %> |
<%= link_to 'Voltar', order_lines_path %>
