<h1>Cadastro de Produtos</h1>

<fieldset style="width:25%">
  <legend>Editar dados do produto</legend>
<%= render 'form' %>
</fieldset>

<%= link_to 'Exibir', @product %> |
<%= link_to 'Voltar', products_path %>
